@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Montserrat:wght@100;200;400&family=Open+Sans:ital,wght@0,300;0,800;1,300&display=swap");

/*Geral Site-------------------------------------*/
html {
  background-color: #244158;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  margin: 0 auto;
  max-width: 1920px;
}

/*Header-------------------------------------*/
header {
  position: relative;
}
nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 960px));
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: end;
  margin-right: 100px;
  gap: 20px;
  grid-row: 1;
}

.comp--header {
  position: absolute;
  max-width: 100%;
  object-fit: cover;
  object-position: bottom right;
  z-index: -2;
  top: -20px;
  right: -10px;
}

.nav--logo {
  max-width: 150px;
  margin-left: 100px;
  grid-row: 1;
}

.nav--link {
  text-decoration: none;
  color: black;
}

.header--headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  margin-top: 50px;
  margin-left: 300px;
  font-size: 30px;
  font-weight: 800;
}

.header--btn {
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 30px;
  margin-left: 210px;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #df3260;
}

.header--aiweb {
  margin-top: -70px;
  margin-right: 900px;
  max-width: 400px;
}

@media (max-width: 1301px) {
  .header--text {
    font-size: 20px;
  }

  .header--btn {
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 30px;
    margin-left: 130px;
    text-transform: uppercase;
    font-size: 13px;
    background-color: #df3260;
  }

  .header--aiweb {
    max-width: 250px;
    margin-top: -110px;
    margin-right: 800px;
  }
}

@media (max-width: 820px) {
  .header--headline {
    margin-top: 30px;
  }

  .header--text {
    font-size: 15px;
  }

  .header--btn {
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 30px;
    margin-left: 100px;
    text-transform: uppercase;
    font-size: 10px;
    background-color: #df3260;
  }

  .header--aiweb {
    max-width: 250px;
    margin-top: -100px;
    margin-right: 700px;
  }
}

@media (max-width: 681px) {
  .header--headline {
    margin-top: 10px;
    margin-right: 30px;
  }

  .header--btn {
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 30px;
    margin-left: 100px;
    text-transform: uppercase;
    font-size: 10px;
    background-color: #df3260;
  }

  .header--aiweb {
    max-width: 200px;
    margin-top: -100px;
    margin-right: 500px;
  }

  nav {
    padding-top: 5px;
  }
}

@media (max-width: 620px) {
  .header--aiweb {
    display: none;
  }

  .header--headline {
    margin: 150px 0;
    text-align: center;
    align-content: center;
  }
  .header--text {
    font-size: 30px;
    color: white;
  }
  .header--btn {
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 30px;
    margin: 0;
    text-transform: uppercase;
    font-size: 10px;
    background-color: #df3260;
  }

  nav {
    padding-top: 5px;
  }

  .nav--logo {
    max-width: 100px;
  }
}

/*Section Texto-------------------------------------*/

.text {
  display: grid;
  grid-template-columns: minmax(100px, 600px);
  justify-content: center;
  color: white;
  padding: 0 20px;
  margin-top: 150px;
}

/*Formulário Contato-------------------------------------*/
.contact {
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.contact--form {
  max-width: 400px;
  margin-top: 50px;
}

/*Footer-------------------------------------*/

footer {
  /*Position relative vai segurar a imagem e o texto dentro do footer*/
  position: relative;
  background-color: white;
}

footer p {
  /*Com o Position relative no footer, o absolute na tag p vai ser referente ao footer
    */
  position: absolute;
  top: 80%;
  left: 25%;
  color: white;
}

.comp--footer {
  max-width: 100%;
  margin-bottom: -5px;
  margin-left: -5px;
}

.footer--logo__end {
  position: absolute;
  top: 45%;
  left: 80%;
}

.footer--logo {
  max-width: 150px;
}

@media (max-width: 761px) {
  .footer--logo {
    max-width: 100px;
  }
}

@media (max-width: 620px) {
  footer p {
    top: 60%;
    left: 15%;
  }
}
